@import "reset";
@import "navbar";
@import "global";
.container {
    width: 791px;
    height: 421px;
    background: rgba(150, 145, 145, 0.79);
    margin: 150px 400px;
    background-image: url(./background-image.png);
    background-repeat: no-repeat;
    background-size: 790px 421px;
}

header {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

#nav-img {
    width: 150px;
    height: 30px;
    background: #C4C4C4;
    margin: 10px;
}

.left-side {
    float: left;
    margin: 10px;
}

.right-side {
    float: right;
    margin: 10px;
}

.clear {
    clear: both;
}